body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #07889B;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 0 10px;
}

header #logo {
    display: flex;
    width: 100px;
    height: 96px;
}

header #logo .barras {
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    width: 25px;
}

header #logo .barraReverse {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 25px;
}

header #logo .bola1 {
    background-color: #EEAA7B;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

header #logo .bola2 {
    background-color: #66B9BF;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

header #logoText {
    display: flex;
    flex-direction: column;
}

header #logoText h1 {
    font-family: "Bungee", sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: white;
    margin-block-start: 0.75em;
    margin-block-end: 0em;
}

header h2 {
    min-width: 88vw;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: left;
    margin-block-start: 0;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #info {
    margin: 15px;
    background-color: #f1cbb0;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
}

main #info h3 {
    text-align: center;
    font-size: 43px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #006f80;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

main #info p {
    text-align: center;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #006f80;
}

#tabuleiro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 155px;
    background-color: #f1cbb0;
    padding: 14px 2px;
    border-radius: 5px;
    margin: 30px 0;
}

#tabuleiro .coluna {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 170px;
    width: 36px;
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 8px;
}

#tabuleiro .boxDisco {
    width: inherit;
    height: 25px;
    margin: 0 0 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#discosInicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discosInicio #start1, #start2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #006f80;
    font-size: 14px;
    width: 80px;
    margin-bottom: 5px;
}

#discosInicio #start1 {
    margin-right: 5px;
}

.jogador1 {
    border-radius: 20px;
    background-color: #66B9BF;
    border: 2px solid #006f80;
    min-width: 23px;
    min-height: 23px;
    max-width: 23px;
    max-height: 23px;
    margin-right: 5px;
}

.jogador2 {
    border-radius: 20px;
    background-color: #eb8c48;
    border: 2px solid #E37222;
    min-width: 23px;
    min-height: 23px;
    max-width: 23px;
    max-height: 23px;
    margin-right: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95px;
    padding: 10px 5px;
    margin: 15px;
    background-color: #f1cbb0;
    border-radius: 5px;
    width: 270px;
}

aside .pontos {
    display: none;
}

aside button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: "Bungee", sans-serif;
    font-size: 14px;
    background-color: #07889B;
    border: 1px solid #005a68;
    color: white;
    margin: 10px 0;

}

#resetPlacar {
    display: none;
}

footer div {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
}

#alertBox {
    display: none;
    width: 220px;
    height: 125px;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    margin: 95vh auto;
    background-color: #7dbfc4;
    border: 1px solid #E37222 ;
}

#alertBox #closeBox {
    text-align: end;
    color:white;
    cursor: pointer;
}

#alertBox #textBox #titleBox {
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-size: 18px;
    color: white;
    margin-block-end: 5px;
}

#alertBox #textBox #subBox {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    color: #005a68;
}

@media (min-width: 600px) {
    main #info {
        width: 500px;
    }
    
    #tabuleiro {
        width: 526px;
        height: 330px;
    }

    #tabuleiro .coluna {
        width: 70px;
        height: 340px;
    }

    #tabuleiro .boxDisco {
        width: 70px;
        height: 53px;
    }

    .jogador1 {
        min-width: 52px;
        min-height: 52px;
        max-width: 52px;
        max-height: 52px;
        margin-right: 0;
        border-radius: 26px;
    }

    .jogador2 {
        min-width: 52px;
        min-height: 52px;
        max-width: 52px;
        max-height: 52px;
        margin-right: 0;
        border-radius: 26px;
    }

    aside {
        flex-direction: row;
        flex-wrap: wrap;
        height: 300px;
        width: 520px;
    }

    #discosInicio {
        flex-direction: column;
    }

    #discosInicio #start1, #start2 {
        margin-right: 0;
        text-align: center;
        margin-block-end: 10px;
    }

    aside .pontos {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 176px;
        margin-left: 30px;
    }

    #azul, #laranja {
        font-family: "Quicksand", sans-serif;
        text-align: right;
        font-weight: 900;
        color: #006f80;
        text-transform: uppercase;
    }
    
    #ptsAzul, #ptsLaranja {
        font-size: 60px;
        color:#E37222;
        font-family: "Bungee", sans-serif;
    }

    #botoes {
        display: flex;
        justify-content: space-around;
        width: 300px;
    }

    aside button {
        width: 110px;
        height: 50px;
    }

    #resetPlacar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        width: 520px;
        font-size: 25px;
    }
}

@media (min-width: 900px) {
    body {
        margin: 0;
    }

    header {
        width: 900px;
        margin: 20px auto 0 auto;
    }

    header h2 {
        display: none;
    }

    main {
        flex-direction: row;
        align-items: flex-start;
    }

    main #info {
        width: 300px;
        height: 180px;
    }

    main #info p {
        font-size: 12px;
    }

    #tabuleiro {
        margin: 16px 40px;
    }

    aside {
        position: absolute;
        margin-block-start: 23rem;
        margin-right: 39rem;
        width: 320px;
        height: 250px;
        flex-direction: row;
    }

    aside .pontos {
        width: fit-content;
    }

    footer {
        margin-top: 120px;
        margin-block-end: 30px;
    }

    #alertBox {
        margin: 35vh auto;
    }
}