/* 
tangerine: #E37222;
teal: #07889B;
powder: #66B9BF;
tan: #EEAA7B;
*/

body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #07889B;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 0 10px;
}

header #logo {
    display: flex;
    width: 100px;
    height: 96px;
}

header #logo .barras {
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    width: 25px;
}

header #logo .barraReverse {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 25px;
}

header #logo .bola1 {
    background-color: #EEAA7B;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

header #logo .bola2 {
    background-color: #66B9BF;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

header #logoText {
    display: flex;
    flex-direction: column;
}

header #logoText h1 {
    font-family: "Bungee", sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: white;
    margin-block-start: 0.75em;
    margin-block-end: 0em;
}

header h2 {
    min-width: 88vw;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: left;
    margin-block-start: 0;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #info {
    margin: 15px;
    background-color: #f1cbb0;
    border-radius: 5px;
    padding: 15px;
}

main #info h3 {
    text-align: center;
    font-size: 43px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #006f80;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

main #info p {
    text-align: center;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #006f80;
}

#tabuleiro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 155px;
    background-color: #f1cbb0;
    padding: 5px;
    border-radius: 5px;
}

#tabuleiro .coluna {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: white;
    height: 145px;
    width: 21px;
    cursor: pointer;
}

#tabuleiro .boxDisco {
    width: inherit;
    height: 25px;
}

#discosInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100px;
    padding: 10px;
    justify-content: space-between;
}

.jogador1 {
    border-radius: 20px;
    background-color: #66B9BF;
    border: 2px solid #006f80;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.jogador2 {
    border-radius: 20px;
    background-color: #eb8c48;
    border: 2px solid #E37222;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    padding: 5px;
    margin: 15px;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
}

aside button {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid gray;
}

footer div {
    font-size: 8px;
    text-align: center;
}


div.pontos{
    display: flex;
    width: 99%;
    justify-content: space-evenly;
}

div#azul{
    display: flex;
    justify-content: space-around;
    width: 48%;
    font-weight: bold;
}

div#laranja{
    display: flex;
    width: 46%;
    justify-content: space-around;
    font-weight: bold;
}